.hints-box {
    position: absolute;
    top: 30px;
    left: 10px;
    border-radius: 2px;
    height: 100%;
    width: 15%;
    vertical-align: top;
    horiz-align: left;
    white-space: nowrap;
    /* width: 500px; */
    /*width: 65%;*/
    background-color: rgb(244,240,236);
    padding: 5px 5px 40px;
    overflow-x: hidden;
    overflow-y: auto;
}

.hint-card {
    margin-bottom: 10px;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid lightgrey;
}

.hint-card-sel {
    border: 2px solid #fa8c16;
}

.hint-name {
    white-space: initial;
}

.hint-done-icon {
    position: absolute;
    top: -3px;
    left: -3px;
}

.hint-info-icon {
    position: absolute;
    top: -2px;
    right: 0px;
}