.analysis-step-card {
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px 1px grey;
    border-radius: 5px;
    margin-top: 10px;
}

.analysis-step-sel {
    border: 2px solid grey;
}

.comment-button:hover {
    color: #ff4d4f;
}

.comment-button {
    color: rgba(0,0,0,0.4);;
}

.copy-difference {
    color: #ff4d4f;
    font-style: italic;
    white-space: pre-line;
}

.narrow-menu {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.ant-card-body {
    padding-top: 12px;
    padding-bottom: 12px;
}


.comment-box {
    padding-top: 12px;
}

.analysis-step-param-box {
    border: 1px solid grey;
    background-color: #FCFBFA;
    border-radius: 5px;
}

.analysis-step-param-content {
    margin: 10px 10px 10px 15px;
    font-size: 12px;
    white-space: initial;
}

.analysis-step-param-line {
    margin-bottom: 0;
}

.sum-table-cell {
    padding-left: 10px;
    padding-right: 10px;
    font-size: small;
    white-space: nowrap;
    border: 1px solid lightgrey;
}

.sum-table-zoom {
    width: 100%;
}

.sum-table-header {
    padding-left: 10px;
    padding-right: 10px;
    font-size: small;
    border: 1px solid lightgrey;
}

.analysis-step-row {
    font-size: small;
}

.analysis-step-row-end {
    font-size: small;
    justify-content: end;
}

.analysis-step-middle-col {
    padding-left: 15px;
}

.table-download-button {
    background: #b5f5ec;
    border-color: grey;
    color: black;
    border-width: 1px;
}

.table-download-button:hover {
    background: #e6fffb;
    border-color: grey;
    color: black;
}

.color-input {
    margin:0;
    padding:0;
    border:0;
    width:25px;
    height:20px;
}

.color-input:hover {
    cursor: pointer;
}

.color-input::-webkit-color-swatch-wrapper {
    padding: 0;
    margin:0;
    background:none;
}
.color-input::-webkit-color-swatch {
    border: none;
}