.analysis-step-card {
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px 1px lightgrey;
}

.comment-button:hover {
    color: #ff4d4f;
}

.comment-button {
    color: rgba(0,0,0,0.4);;
}

.copy-difference {
    color: #ff4d4f;
    font-style: italic;
}