.analysis-menu {
    background-color: white;
    box-shadow: 2px 2px 5px 1px lightgrey;
}


.analysis-container {
    display: flex;
    overflow: scroll;
}

.analysis-col {
    /*position: relative;
    bottom: 0;*/
    margin: 25px 10px 10px 10px;
    width: 600px;
    min-width: 500px;
    max-width: 100%;
}