.analysis-menu {
    background-color: white;
    box-shadow: 2px 2px 5px 1px lightgrey;
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 270px;
}

.analysis-menu-title {
    color: grey;
}

.analysis-menu-close {
    float: right;
}

.analysis-container {
    bottom: 0;
    left: 0;
    margin-bottom: 8px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 8px;
    padding-top: 10px;
    position: absolute;
    right: 0;
    top: 60px;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(1,0,41,0),rgba(0,0,139,0.5),rebeccapurple, darkorange), url("andromeda.jpg");
}

.copy-from-title {
    color: #ff4d4f;
    font-style: italic;
    font-size: small;
    margin-left: 10px;
}

.results-name-title {
    margin-right: 10px;
}

.analysis-col {
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    margin: 0 10px 0 10px;
    vertical-align: top;
    horiz-align: left;
    white-space: nowrap;
    /* width: 500px; */
    /*width: 65%;*/
    background-color: rgb(244,240,236);
    padding: 10px 5px 40px;
}

.analysis-col-content {
    height: 100%;
    flex: 1 1 auto;
    margin: 10px 4px;
    min-height: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 4px;
    z-index: 1;
}

.ant-modal-content {
    /*height: 95%;*/
}

.ant-modal-body {
    height: 95%;
}